/*
    Pallete:
    Main orange: #f37916
    complimentary:
    purple: #6e16f3
    teal: #16f3c7
    analogous:
    orange: #f3b116
    red: #f34216
    
*/

body{
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
}
.btn {
    background-color: #6e16f3;
    color: white;
}

table{
    border: 1px solid black;
}