<div class="wrap">
<!--side bar
    <nav id="sidebar">
        <ul class="list-group sidebar-items collapse">
            <button type="button" class="list-group-item list-group-item-action">All Items</button>
            <button type="button" class="list-group-item list-group-item-action">Passwords</button>
            <button type="button" class="list-group-item list-group-item-action">Addesses</button>
            <button type="button" class="list-group-item list-group-item-action">Notes</button>
            <button type="button" class="list-group-item list-group-item-action">SSH Keys</button>
        </ul>
        <ul class="list-group sidebar-bottom collapse">
            <hr>
            <button type="button" class="list-group-item list-group-item-action">Account Settings</button>
        </ul>
    </nav-->

    <!-- modal newAccount -->
    <ng-template #newAccount let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">New Account</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="newAccountForm">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" id="name" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="URL">URL:</label>
                    <input class="form-control" id="URL" formControlName="url">
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" id="username" formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" (click)="addAccountItem(newAccountForm.value)">Save</button>
        </div>
    </ng-template>

    <div class="main-content">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <span class="navbar-brand mb-0 h1">Trunk - Management Console</span>
                <span class="form-group mb-0">
                    <input class="form-control" type="text" [(ngModel)]="searchInput" placeholder="Search Accounts...">
                </span>
            </div>
        </nav>
        <div class="container">
            <!--Main content-->
            <h3 class="h3 shown-title">All Items</h3>
            <button class="btn btn-primary" type="button" (click)="open(newAccount)">Add Item</button>
            <div class="accountItems">
                <div class="card accountCard" *ngFor="let account of accounts" (click)="open(accountItem)">
                    <!--account card modal-->
                    <ng-template #accountItem let-modal>
                        <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Edit Account</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control" id="name" [value]="account.name">
                                </div>
                                <div class="form-group">
                                    <label for="URL">URL:</label>
                                    <input class="form-control" id="URL" [value]="account.url">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input class="form-control" id="username" [value]="account.username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password" [value]="account.password">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn" (click)="modal.close('Save click') ">Save</button>
                        </div>
                    </ng-template>
                    <div class="card-body">
                        <h4 class="card-title">{{ account.name }}</h4>
                        <img src="assets//images/lock-icon.png">
                        <div class="accCardBot">
                            <h6 class="card-subtitle mb-2">{{ account.url }}</h6>
                            <h6 class="card-subtitle mb-2">{{ account.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
