<!--side bar-->
<div class="sidebar">
    <ul class="list-group sidebar-items">
        <button type="button" class="list-group-item list-group-item-action">All Items</button>
        <button type="button" class="list-group-item list-group-item-action">Passwords</button>
        <button type="button" class="list-group-item list-group-item-action">Addesses</button>
        <button type="button" class="list-group-item list-group-item-action">Notes</button>
        <button type="button" class="list-group-item list-group-item-action">SSH Keys</button>
    </ul>
    <ul class="list-group list-group-flush sidebar-bottom">
        <hr>
        <button type="button" class="list-group-item list-group-item-action">Account Settings</button>
    </ul>
</div>
<nav class="navbar">
    <span class="navbar-brand mb-0 h1">Trunk - Management Console</span>
</nav>
<!--Main content-->
<div class="container">
    <h3 class="h3 shown-title">All Items</h3>
    <app-account-item></app-account-item>
</div>
