.account-items {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;

    .card {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 16rem;
        height: 10rem;
        padding: 5px;

        img {
            object-fit: contain;
            height: 50%;
        }
    }
    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
